.article{
  max-width: 300px;
  margin: 0 0 15px 0;
  width: 100%;

  &__content{
    padding: 10px 20px;
  }

  &__button{
    all: unset;
    cursor: pointer;
  }

  &__results{
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &__favori{
    @include flex($justify: space-between);
    margin-bottom: 5px;
  }

  &__container{
   @include flex($justify: space-around);
   width: 100%;
   max-width: 700px;
   margin: auto;
   flex-wrap: wrap;
  }

  &__img{
    width: 100%;
  }

  &__title{
    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    @include media(small){
      font-size: 16px;
    }
  }

  &__link{
    color: get($colors,font);
    transition: color ease .5s;
    font-size: 20px;
    @include media(small){
      font-size: 16px;
    }
    &:hover{
      color: get($colors,primary);
    }
  }

  &__description{
    font-size: 15px;
    @include media(small){
      font-size: 12px;
    }
  }

  &__tags{
    background-color: get($colors,secondary);
    padding: 10px 20px
  }
}

.tags{
  margin-bottom: 10px !important;
  &__title{
    font-size: 12px;
    font-weight: bold;
  }
  &__linking{
    @include button(white,get($colors,primary),0,10px,$radius:4px);
    display: inline-flex;
    font-size: 10px;
    justify-content: center;
    margin:  10px 10px 0 0;

    white-space: nowrap;
    &:hover{
      color: white;
    }
  }
  &__link{
    @include button(white,get($colors,primary),5px,10px,$radius:4px);
    display: inline-flex;
    font-size: 12px;
    justify-content: center;
    margin:  10px 0 0 10px;

    white-space: nowrap;
    &:hover{
      color: white;
    }
  }

  &__close{
    height: 30px;
    min-width: 30px;
    border-radius: 100%;
    color: white;
    background-color: get($colors,primary);
    border : 0;
    box-sizing: border-box;
    margin:  10px 0 0 10px;

    transition: background ease .5s;
    &:active,&:focus{
      border-width: 0;
      box-shadow: none;

      color: white;
    }

    &:hover{
        background-color:darken(get($colors,primary), 10%);
        color: white;
    }
  }
}


.favoriIcon {
    color: #eab30c;
}
