.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.container__title {
  font-weight: bold;
  width: 100%;
  font-size: 35px;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .container__title {
    font-size: 28px;
  }
}

.page__title {
  font-size: 35px;
}
.page__input {
  all: unset;
  font-weight: bold;
  width: 100%;
  font-size: 35px;
  font-family: sans-serif;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .page__input {
    font-size: 16px;
    padding-bottom: 10px;
  }
}
.page__input:active, .page__input:focus {
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid black;
}
.page__submit {
  border-radius: 100%;
  color: white;
  background-color: #209cee;
  border: 0;
  height: 45px;
  min-width: 45px;
  box-sizing: border-box;
  transition: background ease .5s;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .page__submit {
    height: 25px;
    min-width: 25px;
  }
}
.page__submit:active, .page__submit:focus {
  border-width: 0;
  box-shadow: none;
  color: white;
}
.page__submit:hover {
  background-color: #1081cb;
  color: white;
}
.page__form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.page__tags {
  margin: 10px 0;
}
.page__gifs {
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.page__unfound {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: bold;
}
.page__gif {
  width: 100%;
  max-width: 500px;
}

.icon--search {
  font-size: 20px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .icon--search {
    font-size: 12px;
  }
}
.icon--close {
  font-size: 12px;
}

.profil {
  color: #363636;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .profil {
    font-size: 16px;
  }
}
.profil__text {
  margin-bottom: 40px;
}

.about {
  color: #363636;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .about {
    font-size: 16px;
  }
}
.about__text {
  margin-bottom: 40px;
}
.about__feedback {
  font-weight: bold;
  margin-bottom: 40px;
}
.about__subtitle {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .about__subtitle {
    font-size: 20px;
  }
}
.about__credits {
  width: 100%;
  max-width: 600px;
  font-size: 20px;
  margin-bottom: 40px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .about__credits {
    font-size: 16px;
  }
}
.about__item {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .about__item {
    font-size: 16px;
  }
}
.about__link {
  margin-left: auto;
  color: #209cee;
}

.break {
  margin-left: 0;
}

.divider {
  margin: 0 10px;
}

.header__title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .header__title {
    font-size: 32px;
  }
}
.header__link {
  color: #363636;
  transition: color ease .5s;
}
.header__link:hover {
  color: #209cee;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.navbar__link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #363636;
  transition: 0.7s background ease;
  background-color: white;
  text-decoration: none;
  padding: 8px 16px;
  border: #c3c3c3 1px solid;
  font-size: 18px;
  margin-right: 20px;
  box-sizing: border-box;
}
.navbar__link:hover {
  background-color: #e6e6e6;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .navbar__link {
    font-size: 14.5px;
  }
}
.navbar--logout {
  background-color: silver;
}
.navbar--logout:hover {
  background-color: #a7a7a7;
}
.navbar--login {
  color: white;
  background-color: #209cee;
}
.navbar--login:hover {
  color: white;
  background-color: #1081cb;
}

.icon--logout, .icon--github {
  margin-right: 5px;
}

.article {
  max-width: 300px;
  margin: 0 0 15px 0;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.article__content {
  padding: 10px 20px;
}
.article__button {
  all: unset;
  cursor: pointer;
}
.article__results {
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}
.article__favori {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .article__favori {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
  }
}
.article__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 700px;
  margin: auto;
  flex-wrap: wrap;
}
.article__img {
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .article__img {
    display: none;
  }
}
.article__img--mobile {
  display: none;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .article__img--mobile {
    max-width: 50px;
    border-radius: 100%;
    margin-right: auto;
    display: block;
  }
}
.article__title {
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .article__title {
    font-size: 16px;
    margin-right: 10px;
  }
}
.article__link {
  color: #363636;
  transition: color ease .5s;
  font-size: 20px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .article__link {
    font-size: 16px;
  }
}
.article__link:hover {
  color: #209cee;
}
.article__description {
  font-size: 15px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .article__description {
    font-size: 12px;
  }
}
.article__tags {
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tags {
  margin-bottom: 10px !important;
}
.tags__title {
  font-size: 12px;
  font-weight: bold;
}
.tags__linking {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.7s background ease;
  background-color: #209cee;
  text-decoration: none;
  padding: 0 10px;
  display: inline-flex;
  font-size: 10px;
  justify-content: center;
  margin: 10px 10px 0 0;
  white-space: nowrap;
}
.tags__linking:hover {
  background-color: #1081cb;
}
.tags__linking:hover {
  color: white;
}
.tags__link {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.7s background ease;
  background-color: #209cee;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-flex;
  font-size: 12px;
  justify-content: center;
  margin: 10px 0 0 10px;
  white-space: nowrap;
}
.tags__link:hover {
  background-color: #1081cb;
}
.tags__link:hover {
  color: white;
}
.tags__close {
  height: 30px;
  min-width: 30px;
  border-radius: 100%;
  color: white;
  background-color: #209cee;
  border: 0;
  box-sizing: border-box;
  margin: 10px 0 0 10px;
  transition: background ease .5s;
}
.tags__close:active, .tags__close:focus {
  border-width: 0;
  box-shadow: none;
  color: white;
}
.tags__close:hover {
  background-color: #1081cb;
  color: white;
}

.card {
  transition: transform 0.5s ease;
  backface-visibility: hidden;
  transform: translateZ(0);
}
.card:hover {
  transform: scale(1.02);
  backface-visibility: hidden;
}

.favoriIcon {
  color: #eab30c;
}

.add {
  color: #363636;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .add {
    font-size: 16px;
  }
}

.app {
  height: 100vh;
}
.app__left {
  height: 100vh;
  padding: 50px;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .app__left {
    padding: 40px;
  }
}
.app__right {
  background-color: #f3f3f3;
  box-shadow: -4px 0px 20px 0px #A9A9A9;
  z-index: 10;
  padding: 50px;
  height: calc(100vh + 10px);
  overflow-y: scroll;
}
@media screen and (min-width: 0) and (max-width: 47.9375em) {
  .app__right {
    padding: 30px;
  }
}
